.top-bar{
   background-color: #252B42;
   color: white;
   display: flex;
   justify-content: space-between;
   padding: 20px;
   font-size: 14px;
   /* width: 1570px;
   height: 20px; */
}

.top-bar-left span, .top-bar-right span{
margin-right: 20px;
font-weight: 700px;
}

.top-bar-left i{
    margin-right: 5px;
}

.top-bar-left{
    margin-left: 20px;
}

.top-bar-middle{
    font-weight: 700px;
}

.top-bar-right{
    margin-right: 20px;
    font-weight: 700px;
}

.top-bar-right a{
    color: white;
    margin-left: 10px;
    text-decoration: none;
}




@media (max-width: 767px) {
    .top-bar {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .top-bar-left, .top-bar-right {
        margin: 10px 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .top-bar {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .top-bar-left, .top-bar-right {
        margin: 10px 0;
    }
}