.nav-bar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}




.logo{
    font-size: 24px;
    font-weight: 700;
    padding-left: 180px;
}

.nav-links{
    list-style: none;
    display: flex;
    margin-left: 20px;
    gap: 20px;
}

.nav-links li{
    position: relative;
}

.nav-links li a{
    text-decoration: none;
    color: #737373;
    font-size: 14px;
}

.nav-right{
    display: flex;
    align-items: center;
    /* gap: 20px; */
}

.nav-right i{
    color: #00a0dc;
    font-size: 17px;
}

.nav-right a{
text-decoration: none;
color: #00a0dc;
font-weight: 500;
padding-left: 5px;
}

.nav-icons{
    display: flex;
    gap: 20px;
    padding-right: 180px;
}

.nav-icons a{
    text-decoration: none;
    color: #00a0dc;
}

.nav-icons i{
    color: #00a0dc;
    font-size: 18px;
}



.nav-left{
    display: flex;
    align-items: center;
}

.search-container{
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 20px;
}

.search-input{
    width: 0;
    opacity: 0;
    transition: width 0.4s ease, opacity 0.4s ease;
    border: none;
    padding: 5px;
    font-size: 14px;
    background-color: white;
    border-radius: 5px;
    outline: none;
    border-color: white;
}

.search-input:focus{
    outline: none;
}

.search-icon{
    background: none;
    border: none;
    color: #00a0dc;
    cursor: pointer;
}

.search-icon i{
    font-size: 18px;
}

.search-container.active .search-input{
    width: 150px;
    opacity: 1;
    padding: 5px 10px;
    margin-left: 10px;
    border: 1px solid #ddd;
}

.shop-dropdown-link{
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.shop-dropdown-link i{
    font-size: 14px;
    transition: transform 0.3s ease;
}

.shop-link:hover .shop-dropdown-link i{
    transform: rotate(180deg);
}

.dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    padding: 10px;
    list-style: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    border-radius: 5px;
    z-index: 10;
}

.dropdown li{
    padding: 10px 15px;
}

.dropdown li a{
    color: black;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease; 
}

.dropdown li a:hover{
    color: #00a0dc;
}

.shop-link:hover .dropdown{
    display: block;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;

}

.dropdown{
    opacity: 0;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}


.icon-container{
    position: relative;
}
.cart{
    margin-left: 20px;
}


.count-badge{
    position: relative;
    background-color: white;
    color: #00a0dc;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 16px ;
    font-weight: 700;
}